.auth-container {
  background-color: #f0f2f5;
  width: 100%;
  min-height: 100vh;
}
.register {
  position: relative;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../images/register.jpg);

  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment:fixed; */
  background-position: center;
}
.login {
  position: relative;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../images/login.jpg);

  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
}

.auth-left-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100vh;
}
.auth-right-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.auth-right-wrapper form {
  display: block;
  width: 300px;
  /* border: 2px solid #000; */
  padding: 20px 10px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}

.auth-right-wrapper form .redirect {
  margin-top: 10px;
}
.auth-right-wrapper form .redirect .link {
  font-family: "JosefinSansBold";
  /* text-decoration: dashed; */
  color: #000;
  margin-left: 5px;
}
.auth-right-wrapper form h2 {
  font-family: "JosefinSansBold";

  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.auth-right-wrapper form .input-wrapper {
  width: 100%;
}

.back-link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: #f0f2f5;
  transition: 0.4s;
}
.back-link:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .auth-left-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
  }
  .auth-right-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
  }
  .auth-right-wrapper form {
    background: rgba(255, 255, 255, 0.8);
    display: block;
    width: 300px;
    padding: 20px 10px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }
  .back-link:hover {
    transform: scale(1.2);
  }
  .back-link {
    z-index: 100;
    transform: scale(1.2);
  }
}
@media (max-width: 480px) {
  .auth-right-wrapper form {
    background: rgba(255, 255, 255, 0.8);
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }
  .back-link:hover {
    transform: scale(1.2);
  }
  .back-link {
    z-index: 100;
    transform: scale(1.2);
  }
}
