.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 500;
}
.nav-bgColor {
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-out;
}
.navbar-wrapper {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  font-size: 30px;
  color: #f2f2f2;
  font-family: "JosefinSansBold";
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-menu {
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.nav-link {
  text-decoration: none;
  color: #f0f2f5;
  font-size: 18px;
}
.navigation {
  font-size: 30px;
  color: #fff;
}
.navigation:hover {
  cursor: pointer;
}

.sidebar {
  position: relative;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #eab53a;
  z-index: 10000;
}
.sidebar-navigation {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #000;
}
.sidebar-navigation:hover {
  cursor: pointer;
}
.sidebar-navigation-cart {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: #000;
}
.sidebar-btn-link-wrapper {
  display: none;
}

.sidebar-menu {
  position: relative;
  top: 80px;
}
.sidebar-menu-item {
  font-family: "JosefinSansRegular";
  padding: 20px 10px;
  font-size: 23px;
  display: block;
  text-align: center;
  background-color: transparent;
}
.sidebar-menu-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.contact-button {
  background-color: #bc1329;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  font-family: "JosefinSansRegular";
  padding: 12px 15px;
  font-size: 23px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: 0.4s;
}
.contact-button:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  .sidebar-btn-link-wrapper {
    /* border: 2px solid #000; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
  }
  .sidebar-btn-link-wrapper .sidebar-link {
    font-size: 23px;
    text-decoration: none;
    color: #f0f2f5;
  }
  .sidebar-btn-link-wrapper .btn-link {
    font-family: "JosefinSansBold";
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #bc1329;
    color: #bc1329;
  }
  .nav-menu {
    width: 30px;
  }
  .nav-link {
    display: none;
  }

  .sidebar {
    width: 100%;
  }
}
