.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 500;
}
.nav-bgColor {
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-out;
}
.navbar-wrapper {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-size: 30px;
  color: #f2f2f2;
  font-family: "JosefinSansBold";
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-menu {
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  /* border: 2px solid #000; */
}

.nav-link {
  text-decoration: none;
  color: #f0f2f5;
  font-size: 18px;
}

.navigation {
  font-size: 30px;
  color: #fff;
}
.navigation:hover {
  cursor: pointer;
}
.drawer {
  position: relative;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #eab53a;
  z-index: 10000;
}
.drawer-navigation {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #000;
}
.drawer-navigation-cart {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: #000;
}
.drawer-navigation:hover {
  cursor: pointer;
}

.nav-item {
  font-family: "JosefinSansLight";
  color: #f2f2f2;
  list-style: none;
}
.menu {
  position: relative;
  top: 80px;
  /* display: block; */
}
.menu-item {
  font-family: "JosefinSansRegular";
  padding: 20px 10px;
  font-size: 23px;
  display: block;
  text-align: center;
  background-color: transparent;
}
.menu-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.contact-button {
  background-color: #bc1329;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  font-family: "JosefinSansRegular";
  padding: 12px 15px;
  font-size: 23px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: 0.4s;
}
.contact-button:hover {
  cursor: pointer;
  /* transform: scale(1.1) translate(-50%, 0%); */
}

@media (max-width: 480px) {
  .drawer {
    width: 100%;
  }
}
